# Ignore all logfiles and tempfiles.
/log/*
/log/development.log
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/storage/*
!/storage/.keep
/public/uploads/*
/test/*
/node_modules
/yarn-error.log

/public/assets
public/policy_documents/*
public/system/user_course_tasks/*
.byebug_history
/config/database.yml
/.bundle
# Ignore master key for decrypting credentials and more.
/config/master.key

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
/config/database.yml
log/development.log
