<div class="card">
  <%= image_tag("nguoi.png", alt: "card image") %>
  <div class="card-body">
    <h5 class="card-title"> <%= course_id.course.name%> </h5>
    <p class="card-text"> <%= course_id.course.content %> </p>
    <%= link_to t(".button_show"), course_path(course_id.course.id), class: "btn btn-primary" %>
  </div>
</div>
