<ul class="timeline">
  <li>
    <%= link_to load_name(sub.subject_name, sub.subject_duration),course_subject_path(@course, sub.subject_id) %>
    <p class="float-right"> <%= l @course.start_date.next_day(sub.subject_duration), format: :long %> </p>
    <h5> <%= sub.subject_details %> </h5>
    <%= render partial: "courses/task", collection: sub.subject.tasks, as: :task %>
  </li>
</ul>
