<div class="timeline_course">
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="row_time">
        <ul class="timeline">
          <%= render partial: "courses/itemtimeline", collection: @course_subjects, as: :sub %>
        </ul>
      </div>
    </div>
  </div>
</div>
