<% provide(:title, t(".title")) %>
<div class="container">
  <div class="new_user">
    <%= link_to t(".new_user"), new_admin_user_path %>
  </div>
  <table class="center">
    <% @users.in_groups_of(Settings.cols, false) do |row_users| %>
      <tr>
        <% for user in row_users %>
          <td><%= render user %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
